<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ ==========================License-Start=============================
  ~ DiscourseSimplification : logback.xml
  ~
  ~ Copyright © 2017 Lambda³
  ~
  ~ GNU General Public License 3
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see http://www.gnu.org/licenses/.
  ~ ==========================License-End==============================
  -->

<!--suppress XmlUnboundNsPrefix, XmlUnboundNsPrefix -->
<configuration>
    <property name="LOG_DIR" value="log" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%msg%n%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/out.log</file>
        <append>false</append>
        <encoder>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%msg%n%n</pattern>
        </encoder>
    </appender>

    <logger name="org.lambda3.text.simplification.discourse.processing" level="debug"/>
    <!--<logger name="org.lambda3.text.simplification.discourse.tree" level="debug"/>-->

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>